# Dataset example IDEA4RC to OMOP CDM

In [1]:
import pandas as pd
import random
import numpy as np

A continuación, procedemos a crear los ficheros csv para cada tabla de IDEA4RC como muestra de ejemplo para posteriormente hacer el mapeo.

Cada columna la rellenaremos con su "Vocabulary o Variable as modifier" de Athena, si es que alguno de los dos está disponible.

Cuando tengamos las dos disponibles, cogeremos como su único valor su correspondiente "Variable as modifier". Y, meteremos posteriormente su "Vocabulary" a la tabla correspondiente de mapeo a OMOP (en el siguiente código, cuando hay un # con números, significarán los vocabularios correspondientes a otras tablas, es decir, que las variables disponen de "Vocabulary y Variable as modifier".

### patient.IDEA4RCcsv

In [2]:
random_ids = np.random.randint(0, 51, size=50)
# Crear DataFrame con la columna 'id'
data = {'id': random_ids}
df_patient_IDEA4RC = pd.DataFrame(data)

# Definir las variables y sus posibles valores
replacement_values = {
    'Gender': (8507, 8532),
    'Race': (8527, 8516, 8515, 8657),
    'Birth year': 0,
    'Country of Residence':4329169,
    'Smoking': 1585856, #(36309332, 45883458, 45879404),
    'Cigarettes pack years smoked during life': 903650,
    'Alcohol': 1586197, # (4074035, 4117706, 37204556, 4220362),
    'Height/weight (BMI)': 4245997,
    'Charslon Comorbidity Index': 42538860,
    'Comorbidity': 46235351, #(4188539, 4188540),
    'Myocardial infarction':4329847,
    'Congestive heart failure':319835,
    'Peripheral vascular disease':321052,
    'Cerebrovascular accident (except hemiplegia)':381316,
    'Dementia': 4182210,
    'Chronic pulmonary disease':4186898,
    'Connective tissue disease':4344165,
    'Ulcer':4177703,
    'Mild liver disease':194984,
    'Moderate to severe liver disease': 194984,
    'Diabetes (without complications)': 201820,
    'Diabetes with end organ damage': 201820,
    'Hemiplegia': 374022,
    'Moderate to severe renal disease': 198124,
    'Solid tumor (non metastatic)': 443392,
    'Metastatic solid tumor': 443392,
    'Leukemia': 317510,
    'Lymphoma': 44499278,
    'Multiple myeloma': 437233,
    'AIDS': 4267414,
    'Eastern Cooperative Oncology Group performance status (ECOG PS) at diagnosis': 36305384,
    'ECOG PS label': 36303470, #Vocabulary = Variable as modifier
    'Karnofsy index at diagnosis': 4169154,
    'Karnofsy index label': 36303744, #Vocabulary = Variable as modifier
    'No Genetic syndrome WHO 2020': 37204336, #4211787
    'Olliers disease': 4145177,
    'Maffuci syndrome': 4187683,
    'Li-Fraumeni syndrome': 4323645,
    'McCune-Albright syndrome': 37117262,
    'Multiple osteochondromas': 37396802,
    'Neurofibromatosis type 1': 377252,
    'Rothmund-Thomson syndrome': 4286355,
    'Werner syndrome': 4197821,
    'Retinoblastoma': 4158977,
    'Paget disease': 75910,
    'Other Genetic syndrome WHO 2020': 1340204,
    'Occurrence of other cancer': 1340204, #4266186
    'Previous cancer treatment': 1340204 #(4273629, 4170755, 4121697, 42535584, 4295112)
}

# Función para obtener un valor aleatorio de un elemento en cada columna del diccionario anterior 
def get_random_value(val):
    if isinstance(val, tuple):
        return np.random.choice(val)
    return val

# Añadir las columnas del diccionario al DataFrame
for key, value in replacement_values.items():
    df_patient_IDEA4RC[key] = [get_random_value(value) for _ in range(len(df_patient_IDEA4RC['id']))]

# Ajustar las opciones de pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [3]:
# Mostrar el DataFrame resultante
df_patient_IDEA4RC.head(5)

,id,Gender,Race,Birth year,Country of Residence,Smoking,Cigarettes pack years smoked during life,Alcohol,Height/weight (BMI),Charslon Comorbidity Index,Comorbidity,Myocardial infarction,Congestive heart failure,Peripheral vascular disease,Cerebrovascular accident (except hemiplegia),Dementia,Chronic pulmonary disease,Connective tissue disease,Ulcer,Mild liver disease,Moderate to severe liver disease,Diabetes (without complications),Diabetes with end organ damage,Hemiplegia,Moderate to severe renal disease,Solid tumor (non metastatic),Metastatic solid tumor,Leukemia,Lymphoma,Multiple myeloma,AIDS,Eastern Cooperative Oncology Group performance status (ECOG PS) at diagnosis,ECOG PS label,Karnofsy index at diagnosis,Karnofsy index label,No Genetic syndrome WHO 2020,Olliers disease,Maffuci syndrome,Li-Fraumeni syndrome,McCune-Albright syndrome,Multiple osteochondromas,Neurofibromatosis type 1,Rothmund-Thomson syndrome,Werner syndrome,Retinoblastoma,Paget disease,Other Genetic syndrome WHO 2020,Occurrence of other cancer,Previous cancer treatment
0,18,8507,8657,0,4329169,1585856,903650,1586197,4245997,42538860,46235351,4329847,319835,321052,381316,4182210,4186898,4344165,4177703,194984,194984,201820,201820,374022,198124,443392,443392,317510,44499278,437233,4267414,36305384,36303470,4169154,36303744,37204336,4145177,4187683,4323645,37117262,37396802,377252,4286355,4197821,4158977,75910,1340204,1340204,1340204
1,31,8507,8516,0,4329169,1585856,903650,1586197,4245997,42538860,46235351,4329847,319835,321052,381316,4182210,4186898,4344165,4177703,194984,194984,201820,201820,374022,198124,443392,443392,317510,44499278,437233,4267414,36305384,36303470,4169154,36303744,37204336,4145177,4187683,4323645,37117262,37396802,377252,4286355,4197821,4158977,75910,1340204,1340204,1340204
2,26,8532,8516,0,4329169,1585856,903650,1586197,4245997,42538860,46235351,4329847,319835,321052,381316,4182210,4186898,4344165,4177703,194984,194984,201820,201820,374022,198124,443392,443392,317510,44499278,437233,4267414,36305384,36303470,4169154,36303744,37204336,4145177,4187683,4323645,37117262,37396802,377252,4286355,4197821,4158977,75910,1340204,1340204,1340204
3,38,8507,8527,0,4329169,1585856,903650,1586197,4245997,42538860,46235351,4329847,319835,321052,381316,4182210,4186898,4344165,4177703,194984,194984,201820,201820,374022,198124,443392,443392,317510,44499278,437233,4267414,36305384,36303470,4169154,36303744,37204336,4145177,4187683,4323645,37117262,37396802,377252,4286355,4197821,4158977,75910,1340204,1340204,1340204
4,31,8507,8527,0,4329169,1585856,903650,1586197,4245997,42538860,46235351,4329847,319835,321052,381316,4182210,4186898,4344165,4177703,194984,194984,201820,201820,374022,198124,443392,443392,317510,44499278,437233,4267414,36305384,36303470,4169154,36303744,37204336,4145177,4187683,4323645,37117262,37396802,377252,4286355,4197821,4158977,75910,1340204,1340204,1340204

Observamos que tenemos un dataframe con los números correspondientes al Vocabulario de OMOP. Los números "0" significan valores nulos que tendrán que someterse a cambios al número que corresponda en ATHENA.

In [4]:
# Guardar DataFrame en un archivo CSV
df_patient_IDEA4RC.to_csv('patientsIDEA4RC.csv', index=False)

### patientsFollowUpIDEA4RC.csv

In [10]:
patient_f_u_columns = {
    #"Patient": ,
    "Status at last follow-up": 0,
    "Patient Follow Up date": 0,
    "New cancer diagnosis": (4188539, 4188540),
    "Date of new cancer diagnosis": (36534215, 44498973),  # y otros valores
    "New cancer topography": 0, 
    "Last Contact": 0,
}

df_patients_follow_up = pd.DataFrame()

# Crear el nuevo dataframe con la columna 'id' de df
df_patients_follow_up['Patient'] = df_patient_IDEA4RC[['id']].copy()

# Añadir las columnas del diccionario al DataFrame
for key, value in patient_f_u_columns.items():
    df_patients_follow_up[key] = [get_random_value(value) for _ in range(len(df_patients_follow_up['Patient']))]

In [11]:
# Guardar DataFrame en un archivo CSV
df_patients_follow_up.to_csv('patientsFollowUpIDEA4RC.csv', index=False)

In [12]:
df_patients_follow_up

,Patient,Status at last follow-up,Patient Follow Up date,New cancer diagnosis,Date of new cancer diagnosis,New cancer topography,Last Contact
0,18,0,0,4188540,36534215,0,0
1,31,0,0,4188539,36534215,0,0
2,26,0,0,4188540,44498973,0,0
3,38,0,0,4188539,36534215,0,0
4,31,0,0,4188539,36534215,0,0
5,41,0,0,4188540,44498973,0,0
6,27,0,0,4188540,44498973,0,0
7,45,0,0,4188540,44498973,0,0
8,28,0,0,4188540,36534215,0,0
9,29,0,0,4188540,36534215,0,0
10,12,0,0,4188539,36534215,0,0
11,19,0,0,4188540,44498973,0,0
12,31,0,0,4188539,44498973,0,0
13,6,0,0,4188540,36534215,0,0
14,8,0,0,4188540,44498973,0,0
15,47,0,0,4188540,44498973,0,0
16,49,0,0,4188540,44498973,0,0
17,20,0,0,4188540,36534215,0,0
18,1,0,0,4188539,44498973,0,0
19,44,0,0,4188539,36534215,0,0
20,6,0,0,4188539,36534215,0,0
21,17,0,0,4188540,36534215,0,0
22,28,0,0,4188539,36534215,0,0
23,26,0,0,4188539,36534215,0,0
24,3,0,0,4188539,36534215,0,0
25,26,0,0,4188540,44498973,0,0
26,47,0,0,4188540,36534215,0,0
27,16,0,0,4188539,36534215,0,0
28,31,0,0,4188539,36534215,0,0
29,20,0,0,4188540,36534215,0,0
30,6,0,0,4188539,36534215,0,0
31,38,0,0,4188539,36534215,0,0
32,9,0,0,4188539,44498973,0,0
33,38,0,0,4188540,36534215,0,0
34,44,0,0,4188539,44498973,0,0
35,30,0,0,4188539,36534215,0,0
36,19,0,0,4188539,44498973,0,0
37,18,0,0,4188539,36534215,0,0
38,10,0,0,4188539,36534215,0,0
39,9,0,0,4188540,36534215,0,0
40,7,0,0,4188539,44498973,0,0
41,44,0,0,4188539,44498973,0,0
42,22,0,0,4188540,44498973,0,0
43,8,0,0,4188540,36534215,0,0
44,17,0,0,4188539,44498973,0,0
45,31,0,0,4188540,36534215,0,0
46,17,0,0,4188540,36534215,0,0
47,37,0,0,4188539,36534215,0,0
48,43,0,0,4188540,36534215,0,0
49,5,0,0,4188539,36534215,0,0